.feature img {
    border-radius: 20px;

    width: 100% !important;
}

.feature {
    border-radius: 20px;
}

.feature::after {
    background: linear-gradient(0deg, #000, rgba(0, 0, 0, .15));
    bottom: 0;
    content: "";
    left: 0;
    position: absolute;
    right: 0;
    top: 0;

}